/*Styles for 'loginPage.html'.*/
/* Styles for 'loginPage.html' with a dark theme */
body {
    font-family: Arial, sans-serif;
    background-color: #795e5e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;

}

.divPageHeading {
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}

.divLoginForm {
    background: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 3px;
    background-color: #444;
    color: #fff;
}

.g-recaptcha {
    background: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.g-recaptcha:hover {
    background: #0056b3;
}

