/*************** START: Page heading.*/

.divBodyHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divBodyHeader h2 {
    margin-left: 0;
}

.divBodyHeader #btnLogOut {
    margin-right: 10%;
    background-color: #ef7676; /* Red background color */
    color: #FFFFFF; /* White text color */
    padding: 10px 20px; /* Padding around the button text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
}

.divBodyHeader #btnLogOut:hover {
    background-color: #D40000; /* Darker red background on hover */
}


/*************** START: Table form to make API Logs.*/
.tableUserInput textarea {
    height: 1em;
}

.tableHeading {
    color: red;
}

[disabled] {
    cursor: not-allowed;
}

/*************** START: Response tables.*/
.tableResponse table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
}

/* Style table headers */
.tableResponse th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

/* Style table cells */
.tableResponse td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* Highlight table rows on hover */
.tableResponse tr:hover {
    background-color: #f5f5f5;
}

/* Style the filter input elements */
.tableResponse input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the "No data available" message */
#divTableResults:empty::before {
    content: "No data available";
    font-weight: bold;
    padding: 8px;
    display: block;
}

/* Hide empty rows */
.tableResponse tr[style*="display: none;"] {
    display: none;
}

/*************** START: Response table headings.*/
.divBodyResponsesAllAPICalls {
    font-size: 20px;
}

