<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>API Performance Monitor</title>
        <link rel="icon" href="images/favicon-clock.ico" type="image/x-icon">
        <script src="/js/Constants.js"></script>
        <script src="/js/Error.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/MainStyles.css">
    </head>
    <body>
<!--    <body onload="redirectToHomePage()">-->
        <h1>Error</h1>
        <p>
            <a href="/home">Click here</a> if you are not redirected in 5 seconds.
        </p>
    </body>
    <footer>
        <div class="divFooterCenter">
            &copy; jacobjose.live
        </div>
        <div class="divFooterRight">
            Contact us: apm@jacobjose.live
        </div>
    </footer>
</html>