<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>API Performance Monitor</title>
        <script src="/js/MainScript.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/MainStyles.css">
    </head>
    <body onload="redirectToHomePage()">
        <h1>Error</h1>
        <p>
            <a href="/static">Click here</a> if you are not redirected in 5 seconds.
        </p>
    </body>
</html>