<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Performance Monitor</title>
    <script src="/js/Constants.js"></script>
    <script src="/js/Utility.js"></script>
    <script src="/js/MainScript.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/MainStyles.css">
</head>

<body>
    <main>
        <div class="divBodyHeader" >
            <a href="/home"><h1>API Performance Monitor </h1></a>
            <button id="btnLogOut" onclick="logoutUser()">Log Out</button>
        </div>
        <div id="divBodyRequestToAPI">
            <hr class="hr">

            <table class="tableUserInput" id="tableMakeAPILogs" >
                <tr>
                    <td class="tableHeading">Make API Logs</td>
                    <td><label for="textAreaMessage">Message:</label></td>
                    <td><textarea id="textAreaMessage"></textarea></td>
                    <td><label for="textApplicationName">Name:</label></td>
                    <td><input type="text" id="textApplicationName"></td>
                    <td><label for="dateTimeLocalCallTimestamp">Timestamp</label></td>
                    <td><input type="datetime-local" id="dateTimeLocalCallTimestamp"></td>
                    <td><button class="g-recaptcha"
                            data-sitekey="6LcBzNYoAAAAAEfEaqpohyGQCT3iRYO8NegFrsAY"
                            data-callback='makeAPILog'
                            data-action='submit'>Send POST Request</button>
                    </td>
                    <td><button id="btnPostApiCallClear" onclick="clearFormContents()">Clear</button></td>
                </tr>
                <tr>
                    <td class="tableHeading">Filter Logs</td>
                    <td><label for="dateTimeAPICallsRangeStart">Start Date</label></td>
                    <td><input type="datetime-local" id="dateTimeAPICallsRangeStart"></td>
                    <td><label for="dateTimeAPICallsRangeEnd">End Date</label></td>
                    <td><input type="datetime-local" id="dateTimeAPICallsRangeEnd"></td>
                    <td><button id="btnApplyDateTimeRange" onclick="formatDateTimeRangeToISOFormat()">Filter Dates</button></td>
                    <td><button id="btnApplyDateTimeRangeClear" onclick="btnApplyDateTimeRangeClear()">Clear</button></td>
                </tr>
            </table>

        </div>
        <hr class="hr">
        <div id="divBodyResponses">
            <div id="divBodyResponsesAllAPICalls">
                API Calls
                <div id="divBodyResponsesAllAPICallsTable"></div>
            </div>
            <hr class="hr">
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>