<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Performance Monitor</title>
    <script src="/js/MainScript.js"></script>
    <link rel="stylesheet" href="/css/MainStyles.css">
</head>

<body>
    <main>
        <div id="divBodyHeader">
            <h2>Application Performance Monitor</h2>
        </div>
        <hr class="hr">
        <div id="divBodyRequestToAPI">
            <hr class="hr">
            <fieldset>
                <legend>Send message to DB</legend>
                <label for="textAreaMessage">Message:</label>
                <textarea id="textAreaMessage" rows="4" cols="50"></textarea>
                <button id="btnPostApiCall">Send POST Request</button>
            </fieldset>
        </div>
        <hr class="hr">
        <div id="divBodyResponses">
            <div id="divBodyResponsesAllAPICalls">
                API Calls
                <div id="divBodyResponsesAllAPICallsTable"></div>
            </div>
            <hr class="hr">
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>