<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Performance Monitor</title>
    <script src="/js/MainScript.js"></script>
    <link rel="stylesheet" href="/css/MainStyles.css">
</head>

<body>
    <main>
        <div id="divBodyHeader" >
            <h2>Application Performance Monitor</h2>
        </div>
        <div id="divBodyRequestToAPI">
            <hr class="hr">

            <table class="tableUserInput" id="tableMakeAPILogs" >
                <tr>
                    <td class="tableHeading">Make API Logs</td>
                    <td><label for="textAreaMessage">Message:</label></td>
                    <td><textarea id="textAreaMessage"></textarea></td>
                    <td><label for="textApplicationName">Application Name:</label></td>
                    <td><input type="text" id="textApplicationName"></td>
                    <td><button id="btnPostApiCall">Send POST Request</button></td>
            </table>

        </div>
        <hr class="hr">
        <div id="divBodyResponses">
            <div id="divBodyResponsesAllAPICalls">
                API Calls
                <div id="divBodyResponsesAllAPICallsTable"></div>
            </div>
            <hr class="hr">
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>